# ROS build files
/devel/**
/build/**

# Python compiled modules
*.pyc

# Editor files
.vscode/**

# PCB temporary and old files
/PCB/temp/**
/PCB/PCB_old/**

# Misc.
/src/slam_mode_goal/.idea/**
/src/sbg_to_imu/.idea/**
/src/kart_setup_odom_tf/.idea/**

