<?xml version="1.0"?>

<launch>

    <!--
    <node pkg="sensor_node_pkg" type="sensor_node_type" name="sensor_node_name" output="screen">
        <param name="sensor_param" value="param_value" />
    </node>
    -->

    <!-- velodyne sensor configuration -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/velodyne_points"/>
        <remap from="scan" to="top/scan"/>
    </node>

    <!--
    <node pkg="kart_setup_odom_tf" type="tf_odom_broadcaster" name="odom_tf" output="screen">
    </node>
    -->

    <node pkg="kart_setup_lidar_tf" type="tf_broadcaster" name="robot_tf" output="screen">
    </node>

</launch> 
